.drop-zone {
  width: 100vw;
  height: 100vh;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.drop-zone p {
  color: #999;
}
